Package: ble2json
Version: 0.2.1
Priority: optional
Architecture: all
Maintainer: teuvo486
Depends: python3-flask (>= 1), python3-gi (>= 3), bluez (>= 5), nginx-light (>= 1), uwsgi (>= 2), uwsgi-plugin-python3 (>= 2)
Recommends: pi-bluetooth (>= 0.1)
Description: BLE gateway with JSON API
